.tabsContainer {
    /* border: 1px solid red; */
    width: 82%;
    margin-left: 10%;
    padding-top: 8%;
}
.tabs {
    display: flex;
    padding: 10px;    
    /* border: 1px solid blue; */
}
.tabList {
    width: 25%;
    padding: 5px;
    /* border: 1px solid blue; */
}
.eachTab {
    /* border: 1px solid blue; */
    border-left: 2px solid var(--text-grey-color);
    padding: 10px;
    padding-left: 18px;
    font-size: 14px;
    font-family: var(--secondary-font);
}

.selectedTab {
    color: var(--text-green-color);
    background-color: var(--tinted-green-color);
    border-left: 2px solid var(--text-green-color);
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    font-family: var(--secondary-font);
}

.eachTab:hover {
    background-color: var(--tinted-green-color);
    border-left: 2px solid var(--text-green-color);
}
.eachTab:hover {
    color: var(--text-green-color);
}

.tabExpanded {
    width: 80%;
    /* border: 1px solid blue; */
    padding: 10px;
    padding-left: 40px;
    margin-top: -40px;
}

.tabTitle {
    padding-bottom: 10px;
}

.tabDuration {
    padding-bottom: 8px;
    font-size: 14px;
    font-family: var(--secondary-font);
}
.tabDescription {
    color: var(--text-grey-color);
    line-height: 26px;
    padding-top: 15px;
}

.tabExpandedList {
    margin-top: 15px;
    margin-left: 25px;
    line-height: 20px;
}

.tabExpandedList ul {
    list-style: none; 

}

.experiencesList {
    color: var(--text-grey-color) !important;
}
  
.tabExpandedList ul li::before {
    content: "\25B9";  
    color: var(--text-green-color); 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.tabExpandedList li {
    font-size: 15px;
    padding-bottom: 10px;
}