.navBar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 10px 50px;
    position: sticky;
    top: 0px;
    background-color: var(--main-bg-color);
    z-index: 99999;
    opacity: 0.95;
}

.logo {
    width: 40px;
}

.navBarItems li{
    font-size: 15px;
    display: inline;
    margin-left: 30px;    
    color: var(--text-grey-color);
}

.navBarItems li:hover {
    color: var(--text-green-color);
}

.navBarItems span {
    color: var(--text-green-color);
}



.resumeBtn {
    margin-left: 50px;
    font-size: 15px;
}