/* Create color variables */
:root {
  --main-bg-color: #0a192f;
  --text-green-color: #64ffda;
  --text-grey-color: #8892af;
  --tinted-green-color: #16463b;
  --grey-color-1: #ccd6f6;
  --grey-color-2: #8892b0;
}

* {
  padding: 0;
  margin: 0;
}

.app {
  background-color: var(--main-bg-color);
}

.linkText {
  color: var(--text-green-color);
}

.outlinedBtn {
  background-color: transparent;
  border: 1px solid var(--text-green-color);
  border-radius: 5px;
  padding: 10px 30px;
  color: var(--text-green-color);
}

.outlinedBtn:hover {
  background-color: var(--tinted-green-color);
}